In [1]:
def greet(name):
	print(f"Hello, {name}. Good morning!")

greet("Bunyod")

Hello, Bunyod. Good morning!

In [2]:
def hello():
  name = str(input("Enter your name: "))
  if name:
    print ("Hello " + str(name))
  else:
    print("Hello World") 
  return 
  
hello()

Enter your name: Bunyod
Hello Bunyod

In [4]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Murod", "Inoyat", "Mohir")

The youngest child is Mohir

In [5]:
def my_function(country = "Uzbekistan"):
  print("I am from " + country)

my_function("Russia")
my_function("India")
my_function()
my_function("Brazil")

I am from Russia
I am from India
I am from Uzbekistan
I am from Brazil

In [6]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [7]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [8]:
def sayhello(who):
        print(f'Hello, {who}!')
        print('What a lovely day.')

sayhello('Akbar')

Hello, Akbar!
What a lovely day.

In [9]:
def greet(firstname, lastname):
    print ('Hello', firstname, lastname)

greet(lastname='Lee', firstname='Mirzo')

Hello Mirzo Lee

In [10]:
def sum(a, b): 
    return a + b

total=sum(10, 20) 
print(total)
total=sum(5, sum(10, 20))
print(total)

30
35

In [11]:
def greet(name1, name2, name3):  
    print ('Hello ', name1, ' , ', name2 , ', and ', name3)

greet('Steve', 'Bill', 'Yash')

Hello  Steve  ,  Bill , and  Yash